* {
    margin: 0px;
}
 

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url("https://p.typekit.net/p.css?s=1&k=wvl2kgf&ht=tk&f=18085&a=84797321&app=typekit&e=css");

@font-face {
  font-family: "flood-std";
  src: url("https://use.typekit.net/af/6da923/000000000000000000012fc3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/6da923/000000000000000000012fc3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/6da923/000000000000000000012fc3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

body{
    margin:0px;
}
header {
    width: 100%;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    color: #354463;
    padding-top: 25px;
    padding-bottom: 25px;
}

main {
    display: flex;
    justify-content: space-around;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('image.png');
    padding-top:50px;
    padding-bottom: 50px;
}


.phrase {
    font-size: 60px;
    font-family: 'Rock Salt', cursive;
    font-family: flood-std;
    color: white;
    order: 2;
    width: 33%;
}

.form-division{
    width: 35%;
    padding:50px;
    background-color: #354463;
}

.form-division p{
    text-align: left;
    font: normal normal bold 22px/30px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    }

.information-label{
    display: block;
    text-align: left;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    opacity: 1;
    margin: 20px 0px;
}

.information-label label{
    text-align: left;
    font: normal normal normal 12px Helvetica;
    letter-spacing: 0.44px;
    color: #FFFFFF;
    opacity: 1;
    display: block;
}

.information-label input{
    border: none;
    background-color: #354463;
    text-align: left;
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    display: block;
    margin:5px 0px;
    border-bottom: 2px #C1F7D5 solid;
    width:100%;
}
.first-name{
    width:45%;
}
.last-name{
    width:45%;
}

.horizontal-field{
    display: flex;
    padding:0px;
    justify-content: space-between;
}
.city{
    width: 45%;
}
.state{
    width:20%;
}
.zip-code{
    width: 20%;
}
.expiry-date{
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    width: 45%;
}
.expiry-date input{
    width:40%;
}
.security-code{
    width:45%
}
.form-button{
    margin:20px 0px;
    margin-bottom: 0px;
}
.form-button button{
    display: block;
    margin: auto;
    margin-right: 0px;
    height: 40px;
    width:160px;
    border-radius: 100px;
    background-color:#C1F7D5;
    text-align: center;
    font: normal normal bold 15px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

footer {
    background-color: white;
    height: 250px;
    display: grid;
    grid-template-columns: 25% 15% 15% 15% 30%;
    grid-template-rows: 1fr;
}

.footer-headline {
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    padding: 50px;
    padding-left: 100px;
}


.footer-contact {
    padding: 16px;
    padding-top: 50px;
}
.footer-links {
    padding: 16px;
    padding-top: 50px;
}

.footer-social-links {
    padding: 16px;
    padding-top: 50px;
}

footer h4{
    text-align: left;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    opacity: 1;
    border-bottom: 2px #354463 solid;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

footer p{
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
}

.footer-phrase{
    text-align: right;
    font-family: flood-std;
    font-size: 40px;
    padding-top: 50px;
    padding-right: 100px;
}



/* DESKTOP */

@media (min-width:1025px){
main {
    display: flex;
    justify-content: space-around;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('image.png');
    padding-top:50px;
    padding-bottom: 50px;
}


.phrase {
    font-size: 60px;
    font-family: 'Rock Salt', cursive;
    font-family: flood-std;
    color: white;
    order: 2;
    width: 33%;
}

.form-division{
    width: 35%;
    padding:50px;
    background-color: #354463;
}

.form-division p{
    text-align: left;
    font: normal normal bold 22px/30px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    }

.information-label{
    display: block;
    text-align: left;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    opacity: 1;
    margin: 20px 0px;
}

.information-label label{
    text-align: left;
    font: normal normal normal 12px Helvetica;
    letter-spacing: 0.44px;
    color: #FFFFFF;
    opacity: 1;
    display: block;
}

.information-label input{
    border: none;
    background-color: #354463;
    text-align: left;
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    display: block;
    margin:5px 0px;
    border-bottom: 2px #C1F7D5 solid;
    width:100%;
}
.first-name{
    width:45%;
}
.last-name{
    width:45%;
}

.horizontal-field{
    display: flex;
    padding:0px;
    justify-content: space-between;
}
.city{
    width: 45%;
}
.state{
    width:20%;
}
.zip-code{
    width: 20%;
}
.expiry-date{
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    width: 45%;
}
.expiry-date input{
    width:40%;
}
.security-code{
    width:45%
}
.form-button{
    margin:20px 0px;
    margin-bottom: 0px;
}
.form-button button{
    display: block;
    margin: auto;
    margin-right: 0px;
    height: 40px;
    width:160px;
    border-radius: 100px;
    background-color:#C1F7D5;
    text-align: center;
    font: normal normal bold 15px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}



footer {
    background-color: white;
    height: 250px;
    display: grid;
    grid-template-columns: 25% 15% 15% 15% 30%;
    grid-template-rows: 1fr;
}

.footer-headline {
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    padding: 50px;
    padding-left: 100px;
}


.footer-contact {
    padding: 16px;
    padding-top: 50px;
}
.footer-links {
    padding: 16px;
    padding-top: 50px;
}

.footer-social-links {
    padding: 16px;
    padding-top: 50px;
}

footer h4{
    text-align: left;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    opacity: 1;
    border-bottom: 2px #354463 solid;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

footer p{
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
}

.footer-phrase{
    text-align: right;
    font-family: flood-std;
    font-size: 40px;
    padding-top: 50px;
    padding-right: 100px;
}
}

/* TABLET */
@media(min-width:768px) and (max-width:1025px){
    main{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .phrase{
        order: -1;
        width: 70%;
        text-align: center;
    }
    .form-division{
        width: 70%;
    }
    
    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
    }
    
    .footer-headline{
        padding: 50px;
        padding-left: 20px;
        grid-row: 1/-1;
    }
    
    
    .footer-contact{
        padding: 16px;
        padding-top: 50px;
    }
    .footer-links{
        padding: 16px;
        padding-top: 50px;
    }
    
    .footer-social-links{
        padding: 16px;
        padding-top: 50px;
    }
    
    footer h4{
        margin-bottom: 10px;
        padding-bottom: 5px;
        width:50%;
    }
    
    .footer-phrase{
        padding-top: 50px;
        padding-right: 50px;
    }

}

/* MOBILE */

@media(max-width:767px){
    main{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .phrase{
        order: -1;
        width: 70%;
        font-size:40px;
        text-align: center;
    }
    .form-division{
        width: 70%;
        padding:30px;
    }
    footer{
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns:1fr 1fr;
        padding:50px 30px;
    }
    .footer-headline{
        padding: 0px;
    }
    .footer-contact{
        padding:0px;
    }
    footer h4{
        margin-bottom: 10px;
        padding-bottom: 5px;
        width:50%;
    }
    .footer-phrase{
        grid-column:1/-1;
        padding-right: 0px;
    }

    .form-button button{
        width: 100%;
    }

    .footer-division{
        padding-left: 0px;
    }

}