@import url("https://p.typekit.net/p.css?s=1&k=wvl2kgf&ht=tk&f=18085&a=84797321&app=typekit&e=css");

@font-face {
  font-family: "flood-std";
  src: url("https://use.typekit.net/af/6da923/000000000000000000012fc3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/6da923/000000000000000000012fc3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/6da923/000000000000000000012fc3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

*{
    margin:0px;
}

/* DESKTOP */
@media (min-width:800px){
    header{
        display:grid;
        margin:auto;
        width:80%;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        padding:30px;
    }
    #header1{
        justify-self: start;
        text-align: left;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        grid-area:1/1/2/2;
    }

    header a{
        text-align: left;
        font: normal normal 300 16px/24px Helvetica;
        letter-spacing: -0.16px;
        color: #354463;
        opacity: 1;
        justify-self: self-end;
        margin: auto;
    }
    #header5{
        grid-area:1/-2/2/-1;
    }
    header button{
        display:block;
        margin: auto;
        background: #C1F7D5 0% 0% no-repeat padding-box;
        border-radius: 100px;
        opacity: 1;
        width:160px;
        height:48px;
    }
    #sec1{
        /* display:flex; */
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('image1.png');
        padding:128px;
        /* padding:auto; */
    }
    #sec11{
        text-align: right;
        font: normal normal normal 48px/50px Flood-Std;
        letter-spacing: 0px;
        /* color: #354463; */
        color: #FFFFFF;
        opacity: 1;
        order:2;
        /* width:50%; */
        /* margin:auto; */
    }
    #sec12{
        padding:40px;
        padding-top: 0px;
        background-color: white;
        /* width:50%; */
    }
    #p1{
        text-align: left;
        font: normal normal bold 44px/56px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        margin-bottom: 20px;
    }
    #p2{
        text-align: left;
        text-decoration: underline;
        font: normal normal 300 16px/24px Helvetica;
        letter-spacing: -0.16px;
        color: #354463;
        opacity: 1;
    }
    #the-issue{
        width:160px;
        height:40px;
        background-color: #354463;
        color: white;
        text-align: center;
        margin: auto;
        position: relative;
        top:-6%;
        padding-top:15px;
    }
    

    /* SECTION 2 */
    #sec2{
        background-color:#C1F7D5 ;
        padding:50px 100px;
        display:grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4,1fr);
        column-gap: 15px;
    }
    .sec2 h4{
        text-align: left;
        font: normal normal bold 28px/36px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }
    .sec2 p{
        text-align: left;
        font: normal normal 300 16px/24px Helvetica;
        letter-spacing: -0.16px;
        color: #354463;
        opacity: 1;
    }

    /* SECTION 3 */
    #sec3{
        background-color: #354463;
        padding:100px;
    }
    #sec31{
        height:30px ;
        width: 160px;
        background-color: #FFFFFF;
        color: #354463;
        text-align: center;
        padding-top:10px;

    }
    #sec32{
        text-align: left;
        font: normal normal bold 44px/56px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin:20px auto;
    }
    #sec33{
        display:flex;
        justify-content: space-between;
        margin-top: 40px;
    }
    .cards{
        background-color: #f6f6f6;
        width: 25%;
        padding:20px;
        position: relative;
    }
    .temp-img{
        width: 320px;
        height: 224px;
    }
    .cards-heading{
        text-align: left;
        font: normal normal bold 28px/36px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }
    .cards-para{
        text-align: left;
        font: normal normal 300 16px/24px Helvetica;
        letter-spacing: -0.16px;
        color: #354463;
        opacity: 1;
        margin:20px auto;
    }
    #sec33 button{
        /* margin: auto; */
        /* display: block; */
        background: #C1F7D5 0% 0% no-repeat padding-box;
        border-radius: 100px;
        opacity: 1;
        text-align: center;
        font: normal normal bold 18px/22px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        width:160px;
        height: 40px;
    }
    #cards-img1{
        background-image: url('home/tree-planting.png');
    }
    #cards-img2{
        background-image: url('home/education-training.png');
    }
    #cards-img3{
        background-image: url('home/advocacy.png');
    }
    .cards-img {
        width:100%;
        position:absolute;
        top:-30px;
        height: 224px;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center center;
    }


    /* SECTION 4 */

    #sec4{
        background-image: url('home/did-you-know-background.png');
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center center;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(10 1fr);
        column-gap: 100px;
        padding:100px;
    }
    #sec41{
        grid-row:1/2;
        grid-column: 1/2;
        text-align: left;
        font: normal normal normal 44px/46px Flood-Std;
        color: #f6f6f6;
        justify-self: left;
    }
    #sec42{
        grid-area:5/1/6/2;
    }
    #sec42 button{
        width: 160px;
        height: 40px;
        background-color: #C1F7D5;
        border-radius: 100px;
        text-align: center;
        font: normal normal bold 18px/22px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;

    }
    #sec43{
        grid-area: 1/2/-1/-1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .stats{
        background-color: #FFFFFF;
        display:grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 87.5% 12.5%;
        padding:40px;
        row-gap: 10px;
        margin:20px auto;
    }

    .stats-para{
        text-align: left;
        font: normal normal 300 14px/20px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
        opacity: 1;
        grid-area:2/1/-1/2;
    }

    .logo{
        /* grid-area:1/-2/-1/-1; */
        grid-column: -2/-1;
        grid-row: 1/-1;
        /* background-color: aqua; */
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        padding:5px;
    }
    .twitter{
        background-color: #C1F7D5;
        border-radius: 100%;
        height:30px;

        /* border:1px solid black; */
    }
    .facebook{
        background-color: #C1F7D5;
        border-radius: 100%;
        height:30px;
        /* width:50%; */
    }
    .logo img{
        display:block;
        margin: 8px auto;
    }
    #dyk{
        position:relative;
    }
    #do-you-know{
        background: #354463 0% 0% no-repeat padding-box;
        opacity: 1;
        height: 30px;
        width:160px;
        position:absolute;
        top:-15%;
        left:24%;
        text-align: center;
        font: normal normal normal 14px/17px Helvetica;
        letter-spacing: 0.56px;
        color: #FFFFFF;
        opacity: 1;
        padding-top:12px;
    }
    .stats-heading{
        text-align: left;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        grid-area: 1/1/2/2;
    }


    /* SECTION 5 */


    #sec5{
        padding:50px 100px;
        display:grid;
        grid-template-columns: 50% 60%;
        grid-template-rows: 95% 5%;
        row-gap: 30px;
    }
    #sec51{
        grid-area:1/-2/-1/-1;
        width:400px;
        height:400px;
        background-image: url('home/lady-baby.png');
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center center;
        /* margin:auto; */
    }
    #sec52{
        background-color: #354463;
        height: 300px;
        width:auto;
        padding:30px;
        margin-top:20px;
        position: relative;
        left:8%;
        grid-area:1/1/2/2;
    }
    #sec521{
        text-align: left;
        font: normal normal bold 28px/36px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin:30px auto;
    }
    #sec522{
        text-align: left;
        font: normal normal normal 14px/17px Helvetica;
        letter-spacing: 0.56px;
        color: #FFFFFF;
        opacity: 1;
        margin:20px auto;
    }
    #sec53{
        /* margin:auto; */
        background: #C1F7D5 0% 0% no-repeat padding-box;
        border-radius: 100px;
        opacity: 1;
        text-align: center;
        font: normal normal bold 18px/22px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        display:block;
        height:40px;
        width:156px;
        align-self:flex-end;
        grid-area: 2/1/-1/2;
        position: relative;
        left:8%;

    }
    #stories{
        background: #324b7c 0% 0% no-repeat padding-box;
        opacity: 1;
        height:30px;
        width:160px;
        text-align: center;
        font: normal normal normal 14px/17px Helvetica;
        letter-spacing: 0.56px;
        color: #FFFFFF;
        opacity: 1;
        left:85%;
        bottom:1250%;
        position:relative;
        margin:auto;
        display:block;
        padding-top:10px;
    }


    /* SECTION 6 */

    #sec6{
        padding:100px;
        background-color: #354463;
    }
    #sec61{
        text-align: left;
        font: normal normal normal 72px/76px Flood-Std;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin:30px auto;
    }
    #sec62{
        margin:50px auto;
    }
    .event{
        display:grid;
        grid-template-rows: 1fr 3fr 3fr 3fr 1fr;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        height:450px;
    }
    .event-img{
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('home/tree-planting.png');
        /* height:500px; */
        /* width: 500px; */
        grid-area:1/1/-1/2;
        /* width:auto; */

    }
    .event-heading{
        text-align: left;
        font: normal normal bold 44px/56px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
    .event-para{
        text-align: left;
        font: normal normal 300 20px/32px Helvetica;
        letter-spacing: -0.4px;
        color: #FFFFFF;
        opacity: 1;
    }
    #sec62 button{
        background: #C1F7D5 0% 0% no-repeat padding-box;
        border-radius: 100px;
        opacity: 1;
        width:160px;
        height:40px;
        margin:auto 0px;
        align-self:center;
    }
    #sec63 button{
        background: #C1F7D5 0% 0% no-repeat padding-box;
        border-radius: 100px;
        opacity: 1;
        width:160px;
        height:40px;
        /* margin:auto 0px; */
        align-self:center;
    }


    /* SECTION 7 */
    #sec7{
        background-color: #C1F7D5;
        display:grid;
        grid-template-columns: 50% 30% 20%;
        grid-template-rows: 1fr;
        padding:50px;
    }
    #sec71{
        text-align: left;
        font: normal normal bold 28px/36px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }
    #sec72{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 100px;
        opacity: 1;
        height:40px;
        display: block;
        margin: auto;
        width:70%;

    }
    #sec73{
        background: #354463 0% 0% no-repeat padding-box;
        border-radius: 100px;
        opacity: 1;
        height:40px;
        width:80%;
        color: #C1F7D5;
        display:block;
        margin:auto;

    }

    /* SECTION 8 */

    #sec8{
        display:grid;
        grid-template-columns:repeat(5, 1fr);
        grid-template-rows: 1fr;
        padding:50px;
        column-gap:40px;
    }
    #sec81{
        text-align: left;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }
    .contact-info p{
        text-align: left;
        font: normal normal normal 14px/17px Helvetica;
        letter-spacing: 0.44px;
        color: #354463;
        opacity: 1;
        padding-bottom: 5px;
        border-bottom: 2px solid #354463;
        margin-bottom: 10px;
    }
    .contact-info a{
        text-align: left;
        text-decoration: underline;
        font: normal normal 300 14px/24px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
        opacity: 1;
        display:block;

    }
    .contact-info ul{
        display:inline-block;
        text-align: left;
        font: normal normal 300 14px/20px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
        opacity: 1;
        list-style: none;
        padding:0px;
    }
    #sec85{
        text-align: right;
        font: normal normal normal 44px/46px Flood-Std;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        justify-self: end;
    }






}


/* MOBILE */
@media (max-width:450px){
    header{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        padding:15px;
        column-gap: 5px;
        padding-bottom: 0px;
    }
    #header1{
        grid-row:1/4 ;
        text-align: left;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }
    .nav-links{
        font: normal normal 300 16px/24px Helvetica;
        letter-spacing: -0.16px;
        color: #354463;
        opacity: 1;
    }

    
    #header5{
        grid-column: 1/-1;
        margin:auto;
    }
    header button{
        width:300px;
        height:35px;
        background: #C1F7D5 0% 0% no-repeat padding-box;
        border-radius: 100px;
        opacity: 1;
        text-align: center;
        font: normal normal bold 18px/22px Helvetica;
        letter-spacing: 0px;
        color: #354463;
    }
    #sec1{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding:20px;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('image1.png');
    }
    #sec11{
        grid-row:1/2;
        font-family: flood-std;
        font-size: 50px;
        color:white;
    }
    #sec12{
        margin: 10px auto;
        padding:20px;
        padding-top:0px;
        background-color: white;
        grid-row:2/3;
        display:grid;
        grid-template-rows: 0.5fr 2fr 1fr;
        grid-template-columns: 1fr;
    }
    #the-issue{
        width:160px;
        height:40px;
        background-color: #354463;
        color: white;
        text-align: center;
        margin: auto;
        padding-top:20px;
        position: relative;
        top:-25px;

    }
    #p1{
        text-align: left;
        font: normal normal bold 20px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        /* padding:10px 0px; */
    }
    #p2{
        text-align: left;
        text-decoration: underline;
        font: normal normal 300 16px/24px Helvetica;
        letter-spacing: -0.16px;
        color: #354463;
        opacity: 1;
    }

    #sec2{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        background-color: #C1F7D5;
        row-gap: 20px;
        column-gap: 25px;
        padding:30px;
    }
    .sec2 h4{
        text-align: left;
        font: normal normal bold 28px/36px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }

    .sec2 p{
        text-align: left;
        font: normal normal 300 16px/24px Helvetica;
        letter-spacing: -0.16px;
        color: #354463;
        opacity: 1;
    }
    #sec3{
        background-color: #354463;
        padding:30px 20px;
        
    }
    #sec31{
        width:160px;
        height:40px;
        background-color: #f6f6f6;
        text-align: center;
        font: normal normal normal 14px/17px Helvetica;
        letter-spacing: 0.56px;
        color: #354463;
        opacity: 1;
        margin:20px auto;
        line-height: 40px;
    }
    #sec32{
        text-align: center;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin:auto;
        margin: 10px auto;
    }
    
    .cards{
        background-color: hsl(0, 0%, 96%);
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:center;
        /* border: 3px solid black; */
        margin:60px auto;
        padding:20px;
        position:relative;
    }
    .temp-img{
        height: 176px;
    }

    .cards-img {
        width:75%;
        position:absolute;
        top:-30px;
        height: 176px;
        background-color: aqua;
        
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    #cards-img1{
        background-image: url('home/tree-planting.png');
        background-image: url('/home/saurabh/Desktop/webpages/green-tree-initiative-home-page/home/tree-planting.png');
    }
    #cards-img2{
        background-image: url('home/education-training.png');
    }
    #cards-img3{
        background-image: url('home/advocacy.png');
    }


    .cards-heading{
        text-align: center;
        font: normal normal bold 18px/22px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }
    .cards-para{
        text-align: center;
        font: normal normal 300 14px/20px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
        opacity: 1;
        padding:20px;
    }

    .cards Button{
        background: #C1F7D5 0% 0% no-repeat padding-box;
        border-radius: 100px;
        opacity: 1;
        width:152px;
        height:40px;
        font: normal normal bold 16px/20px Helvetica;
        letter-spacing: 0px;
        color: #354463;
    }
    
    /* SECTION 4 */
    #sec4{
        background-image: url('home/did-you-know-background.png');
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center center;
        padding:30px;
    }
    #sec41{
        text-align: left;
        font: normal normal normal 44px/46px flood-std;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        padding-bottom:20px;
    }
    #sec42 button{
        width:60%;
        background: #C1F7D5 0% 0% no-repeat padding-box;
        border-radius: 100px;
        opacity: 1;
        height:40px;
        /* text-align: left; */
        font: normal normal bold 16px/20px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        margin:20px;
    }
    #sec43{
        margin-top: 20px;
    }
    .stats{
        background-color: #FFFFFF;
        display:grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 85% 15%;
        padding:25px;
        row-gap: 10px;
        margin:20px auto;
    }
    #dyk{
        position:relative;
    }
    #do-you-know{
        background: #354463 0% 0% no-repeat padding-box;
        opacity: 1;
        height: 25px;
        width:160px;
        position:absolute;
        top:-15px;
        left:24%;
        text-align: center;
        font: normal normal normal 14px/17px Helvetica;
        letter-spacing: 0.56px;
        color: #FFFFFF;
        opacity: 1;
        padding-top:10px;
    }
    .stats-heading{
        text-align: left;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        grid-area: 1/1/2/2;
    }


    .stats-para{
        text-align: left;
        font: normal normal 300 14px/20px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
        opacity: 1;
        grid-area:2/1/-1/2;
    }

    .logo{
        /* grid-area:1/-2/-1/-1; */
        grid-column: -2/-1;
        grid-row: 1/-1;
        /* background-color: aqua; */
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        padding:5px;
    }
    .twitter{
        background-color: #C1F7D5;
        border-radius: 100%;
        height:30px;

        /* border:1px solid black; */
    }
    .facebook{
        background-color: #C1F7D5;
        border-radius: 100%;
        height:30px;
        /* width:50%; */
    }
    .logo img{
        display:block;
        margin: 8px auto;
    }

    /* SECTION 5 */
    #sec5{
        padding:50px 10px;
        position: relative;
        /* width:100%; */
        /* border: 5px solid red; */

    }
    #stories{
        background: #324b7c 0% 0% no-repeat padding-box;
        opacity: 1;
        height:25px;
        width:140px;
        text-align: center;
        font: normal normal normal 14px/17px Helvetica;
        letter-spacing: 0.56px;
        color: #FFFFFF;
        opacity: 1;
        position:absolute;
        top:30px;
        left:10%;
        display:block;
        padding-top: 10px;
    }
    #sec51{
        width:312px;
        height:312px;
        background-image: url('home/lady-baby.png');
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin:auto;
    }
    #sec52{
        background-color: #354463;
        /* height:296px; */
        width:312px;
        margin:30px auto;
    }
    #sec521{
        text-align: center;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        padding:20px;
    }
    #sec522{
        text-align: center;
        font: normal normal normal 11px/13px Helvetica;
        letter-spacing: 0.44px;
        color: #FFFFFF;
        opacity: 1;
        padding:10px;
    }
    #sec53{
        margin:auto;
        background: #C1F7D5 0% 0% no-repeat padding-box;
        border-radius: 100px;
        opacity: 1;
        text-align: center;
        font: normal normal bold 18px/22px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        display:block;
        height:40px;
        width:156px;
    }


    /* SECTION 6 */
    #sec6{
        background-color: #354463;
        padding:40px 20px;
        /* border:5px solid red; */
    }
    #sec61{
        text-align: center;
        font: normal normal normal 44px/46px flood-std;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
    .event{
        margin:20px auto;
        /* border:2px solid yellow; */
    }
    .event-img{
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('home/tree-planting.png');
        height:300px;
        width:auto;
    }
    .event-heading{
        text-align: center;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin: 20px auto;
    }
    .event-para{
        text-align: center;
        font: normal normal 300 14px/20px Helvetica;
        letter-spacing: -0.14px;
        color: #FFFFFF;
        opacity: 1;
        margin:20px auto;
    }
    .event button{
        display:block;
        margin:auto;
        background: #C1F7D5 0% 0% no-repeat padding-box;
        border-radius: 100px;
        opacity: 1;
        height:40px;
        width:160px;
        text-align: center;
        font: normal normal bold 18px/22px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }

    /* SECTION 7 */

    #sec7{
        background-color: #C1F7D5;
        display:grid;
        grid-template-rows: 70% 30%;
        grid-template-columns: 60% 40%;
        padding:20px;
        row-gap: 10px;
    }
    #sec71{
        grid-area:1/1/2/-1;
        text-align: left;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        justify-self: center;
    }
    #sec72{
        grid-area: 2/1/-1/2;
        background-color: #f6f6f6;
        border-radius: 100px;
        width:90%;
        height:30px;
    }
    #sec73{
        grid-area:2/2/-1/-1;
        background: #354463 0% 0% no-repeat padding-box;
        border-radius: 100px;
        opacity: 1;
        height:35px;
        width:90%;
        color: #C1F7D5;
    }

    /* SECTION 8 */

    #sec8{
        display:grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr 1fr;
        padding:30px;
        /* justify-items: center; */
        /* align-items: center; */
    }
    #sec81{
        text-align: left;
        font: normal normal bold 18px/22px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }
    .contact-info p{
        text-align: left;
        font: normal normal normal 13px/15px Helvetica;
        letter-spacing: 0.44px;
        color: #354463;
        opacity: 1;
        padding-bottom: 5px;
    }
    .contact-info a{
        text-align: left;
        text-decoration: underline;
        font: normal normal 300 14px/24px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
        opacity: 1;
        display:block;
    }
    .contact-info ul{
        display:inline-block;
        text-align: left;
        font: normal normal 300 14px/20px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
        opacity: 1;
        list-style: none;
        padding:0px;
    }
    #sec85{
        text-align: right;
        font: normal normal normal 44px/46px Flood-Std;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        justify-self: end;
        grid-area: -2/1/-1/-1;
    }

    

}

/* TABLET */
@media (min-width:451px) and (max-width:799px){
    header{
        grid-template-columns: 20% 20% 20% 40%;
        grid-template-rows: 80% 20%;
        padding:15px;
        height:100px;
    }
    
    #header1{
        grid-column:1/4;
        /* grid-row:-1/-2; */
    }
    #header2{
        grid-column: 1/2;
        /* grid-row:-1/-2; */

    }
    #header3{
        grid-column:2/3;
        /* grid-row:-1/-2; */
    }
    #header4{
        grid-column:3/4;
        /* grid-row:-1/-2; */
        width:150px;
    }
    #header5{
        grid-column: -2/-1;
        grid-row:1/2;
        margin:auto;
    }
    header button{
        height:48px;
        width:140px;
    }
    #sec2{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        background-color: #C1F7D5;
        row-gap: 20px;
        column-gap: 25px;
        padding:30px;
    }
    .sec2 h4{
        text-align: left;
        font: normal normal bold 28px/36px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }

    .sec2 p{
        text-align: left;
        font: normal normal 300 16px/24px Helvetica;
        letter-spacing: -0.16px;
        color: #354463;
        opacity: 1;
    }


    /* SECTION3 */
    #sec3{
        background-color: #354463;
        padding: 50px;
    }
    #sec31{
        width:160px;
        height:40px;
        background-color: #f6f6f6;
        padding:auto;
        margin-bottom: 20px;
        text-align: center;
    }
    #sec32{
        font: normal normal bold 30px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        padding-top: 10px;
        padding-bottom: 60px;
    }
    #sec33{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .cards{
        background-color: #f6f6f6;
        height:auto;
        position: relative;
        display:grid;
        grid-template-columns:  55% 45%;
        grid-template-rows: repeat(3, 33%);
        margin-top: 40px;
        margin-bottom: 40px;
        padding-bottom: 20px;
        width:auto;
    }
    .temp-img{
        width:228px;
        grid-column: 1/2;
        grid-row:1/-1;
    }
    .cards-img{
        
        width:288px;
        height:201px;
        background-color: black;
        position: absolute;
        left:20px;
        top:-40px;
    }
    .cards-heading{
        text-align: left;
        font: normal normal bold 28px/36px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        padding:10px;
        /* border: black 2px solid; */
        
    }
    .cards-para{
        text-align: left;
        font: normal normal 300 16px/24px Helvetica;
        letter-spacing: -0.16px;
        color: #354463;
        opacity: 1;
        padding:10px;
        grid-row: 2/-1;
        /* border:black 5px solid; */
        /* display: inline; */
        /* padding-bottom: 20px; */
        /* margin-bottom: 30px; */
    }
    .cards button{
        height:40px;
        width:156px;
        background-color: #C1F7D5;
        color: black;
        border-radius:100px;
        grid-area: 3/1/-1/2;
        justify-self: center;
    }
}