@import url("https://p.typekit.net/p.css?s=1&k=wvl2kgf&ht=tk&f=18085&a=84797321&app=typekit&e=css");

@font-face {
  font-family: "flood-std";
  src: url("https://use.typekit.net/af/6da923/000000000000000000012fc3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/6da923/000000000000000000012fc3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/6da923/000000000000000000012fc3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

*{
    margin:0px;
}


/* COMMON */

#header1{
    text-align: left;
font: normal normal bold 22px/28px Helvetica;
letter-spacing: 0px;
color: #354463;
opacity: 1;
}

.nav-links{
    font: normal normal 300 16px/24px Helvetica;
letter-spacing: -0.16px;
color: #354463;
opacity: 1;
}


header  button{
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;

    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    box-shadow: none;
}


#sec1{
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('image1.png');
    
}
#the-issue{
    width:160px;
    height:40px;
    background-color: #354463;
    color: white;
    text-align: center;
    margin: auto;
}
#p1{
    text-align: left;
    font: normal normal bold 20px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}
#p2{
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    opacity: 1;
}

#sec11{
    font-family: flood-std;
    font-size: 50px;
    grid-row: 2/3;
    color:white;
}
#sec12{
    background-color: white;
    grid-row:2/3;
}




/* DESKTOP */
@media (min-width:800px){
    header{
        display:grid;
        grid-template-columns: 30% repeat(3, 15%) 25%;
        grid-template-rows: 1fr;
        padding-top: 10px;
    }
    header div{
        margin:auto;
    }
    header button{
        height:48px;
        width:160px;
    }
    
    #sec11{
        order:2;
        justify-self: center;
    }
    #sec12{
        height:416px;
        width:544px;
        justify-self: center;
        border-radius: 2px;
        /* padding:0px; */
        /* position:relative; */
        
    }
    #sec1{
        display:grid;
        grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    height:672px;
    
    }
    #p1{
        text-align: left;
        font: normal normal bold 44px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }

    /* SECTION2 */
    #sec2{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        padding:50px 100px;
        column-gap: 20px;
        background-color: #C1F7D5;
        
    }
    .sec2 h4{
        text-align: left;
        font: normal normal bold 28px/36px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }

    .sec2 p{
        text-align: left;
        font: normal normal 300 16px/24px Helvetica;
        letter-spacing: -0.16px;
        color: #354463;
        opacity: 1;
    }
    #sec3{
        background-color: #354463;
        padding:60px;
    }
    #sec31{
        width:160px;
        height:40px;
        background-color: #f6f6f6;
        padding:auto;
        margin-bottom: 20px;
        text-align: center;
        
    }
    #sec32{
        font: normal normal bold 30px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        padding-top: 10px;
        padding-bottom: 60px;
    }
    #sec33{
        display:flex;
        justify-content: space-between;
    }
    .cards{
        background-color: #f6f6f6;
        width:320px;
        position: relative;

    }
    .temp-img{
        height:224px;
        width:100%;
    }
    .cards-img{
        height:224px;
        width:100%;
        background-color: black;
        position: absolute;
        right:-30px;
        top:-30px;
    }
    .cards-heading{
        text-align: left;
        font: normal normal bold 28px/36px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        padding-left: 25px;
        padding-right: 25px;
    }
    .cards-para{
        text-align: left;
        font: normal normal 300 16px/24px Helvetica;
        letter-spacing: -0.16px;
        color: #354463;
        opacity: 1;
        padding-left: 25px;
        padding-right: 25px;
        margin-bottom: 30px;
    }
    .cards button{
        height:;
        width:;
        background-color: ;
        color: black;
        border-radius:100px ;
    }
}


/* MOBILE */
@media (max-width:450px){
    header{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        padding:10px;
    }
    #header1{
        grid-row:1/4 ;
    }
    #header5{
        grid-column: 1/-1;
        margin:auto;
    }
    header button{
        width:300px;
        height:35px;
    }
    #sec1{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding:30px;
        row-gap: 20px;
    }
    #sec11{
        grid-row:1/2;
    }

    #sec2{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        background-color: #C1F7D5;
        row-gap: 20px;
        column-gap: 25px;
        padding:30px;
    }
    .sec2 h4{
        text-align: left;
        font: normal normal bold 28px/36px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }

    .sec2 p{
        text-align: left;
        font: normal normal 300 16px/24px Helvetica;
        letter-spacing: -0.16px;
        color: #354463;
        opacity: 1;
    }
    #sec3{
        background-color: #354463;
        padding:30px 20px;
    }
    #sec31{
        width:160px;
        height:40px;
        background-color: #f6f6f6;
        text-align: center;
        margin:auto;
        font: normal normal normal 14px/17px Helvetica;
        letter-spacing: 0.56px;
        color: #354463;
        opacity: 1;
        margin:20px auto;
    }
    #sec32{
        text-align: center;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin:auto;
        margin: 10px auto;
    }
    .cards{
        background-color: #f6f6f6;
        margin:80px auto;

    }
    .temp-img{
        height: 176px;
    }
    .cards-heading{
        text-align: center;
        font: normal normal bold 18px/22px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        padding:20px;
    }
    .cards-para{
        text-align: center;
        font: normal normal 300 14px/20px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
        opacity: 1;
        padding:20px;
    }

    .cards Button{
        background: #C1F7D5 0% 0% no-repeat padding-box;
        border-radius: 100px;
        opacity: 1;
        width:152px;
        height:40px;
        font: normal normal bold 16px/20px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        margin:0px auto;
        display:block;
    }


}

/* TABLET */
@media (min-width:451px) and (max-width:799px){
    header{
        grid-template-columns: 20% 20% 20% 40%;
        grid-template-rows: 80% 20%;
        padding:15px;
        height:100px;
    }
    
    #header1{
        grid-column:1/4;
        /* grid-row:-1/-2; */
    }
    #header2{
        grid-column: 1/2;
        /* grid-row:-1/-2; */

    }
    #header3{
        grid-column:2/3;
        /* grid-row:-1/-2; */
    }
    #header4{
        grid-column:3/4;
        /* grid-row:-1/-2; */
        width:150px;
    }
    #header5{
        grid-column: -2/-1;
        grid-row:1/2;
        margin:auto;
    }
    header button{
        height:48px;
        width:140px;
    }
    #sec2{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        background-color: #C1F7D5;
        row-gap: 20px;
        column-gap: 25px;
        padding:30px;
    }
    .sec2 h4{
        text-align: left;
        font: normal normal bold 28px/36px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
    }

    .sec2 p{
        text-align: left;
        font: normal normal 300 16px/24px Helvetica;
        letter-spacing: -0.16px;
        color: #354463;
        opacity: 1;
    }


    /* SECTION3 */
    #sec3{
        background-color: #354463;
        padding: 50px;
    }
    #sec31{
        width:160px;
        height:40px;
        background-color: #f6f6f6;
        padding:auto;
        margin-bottom: 20px;
        text-align: center;
    }
    #sec32{
        font: normal normal bold 30px Helvetica;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        padding-top: 10px;
        padding-bottom: 60px;
    }
    #sec33{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .cards{
        background-color: #f6f6f6;
        height:auto;
        position: relative;
        display:grid;
        grid-template-columns:  55% 45%;
        grid-template-rows: repeat(3, 33%);
        margin-top: 40px;
        margin-bottom: 40px;
        padding-bottom: 20px;
        width:auto;
    }
    .temp-img{
        width:228px;
        grid-column: 1/2;
        grid-row:1/-1;
    }
    .cards-img{
        
        width:288px;
        height:201px;
        background-color: black;
        position: absolute;
        left:20px;
        top:-40px;
    }
    .cards-heading{
        text-align: left;
        font: normal normal bold 28px/36px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        opacity: 1;
        padding:10px;
        /* border: black 2px solid; */
        
    }
    .cards-para{
        text-align: left;
        font: normal normal 300 16px/24px Helvetica;
        letter-spacing: -0.16px;
        color: #354463;
        opacity: 1;
        padding:10px;
        grid-row: 2/-1;
        /* border:black 5px solid; */
        /* display: inline; */
        /* padding-bottom: 20px; */
        /* margin-bottom: 30px; */
    }
    .cards button{
        height:40px;
        width:156px;
        background-color: #C1F7D5;
        color: black;
        border-radius:100px;
        grid-area: 3/1/-1/2;
        justify-self: center;
    }
}